:root{
    --primarycolor:#ff206e;

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
color: var(--primarycolor);
}
.nav-link{
    color: white;
}
.nav-link:focus, .nav-link:hover{
    color: white;
}
.__primarycolor{
color: var(--primarycolor);
}
.hero{
    background-image: url(../image/hero/hero.jpg);
   background-size: cover;
   background-position: center;
}
.about,
.Portfolio
{
    background-image: url(../image/about/light_dot.jpg);
}
.Portfolio .nav-link{
    color: black;
    transition: .5s;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: white;
      color: var(--primarycolor);;
}
.Portfolio .nav-link:hover{
    color: var(--primarycolor);
}